.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  grid-area: aa;
}

.avatorwrapper{
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-areas: "aa bb";
}

.postauthor{
  grid-area: bb;
  text-align: left;
}
