/* If Screen Is at tablet width */

@media(min-width:700px){
  .contentwrapper{/* medium screen structure */
        display:grid;
        grid-template-rows: 10vh 40vh 40vh;
        grid-template-columns: 50vw 50vw;
        grid-template-areas:
        "tt tt"
        "pic intro"
        "main main";
        border: 3px solid green;
    }
  #blogtitle{
      border: 3px solid blue;
      grid-area:tt;
    }
  #homepagepic{
      grid-area:pic;
      border: 3px solid blue;
      background-color: green;
      }
  #aboutme{
    grid-area:intro;
    border: 3px solid blue;
    background-color: green;
    }
  #hpblog{
      grid-area:main;
      border: 3px solid blue;
    }
  img {
      height: 800px;
      width: auto;
      position: center;
      }
}
