/* If Screen Is at tablet width */

@media only screen and (min-width:700px){
  .contentwrapper{/* medium screen structure */
        display:grid;
        grid-template-rows: 10vh 40vh 40vh;
        grid-template-columns: 50vw 50vw;
        grid-template-areas:
        "tt tt"
        "pic intro"
        "main main";
    }
  #blogtitle{
      grid-area:tt;
    }
  #homepagepic{
      grid-area:pic;
      }
  #aboutme{
    grid-area:intro;
    padding: 10px 20px 10px 20px;
    }
  /* .aboutme{
      display:flex;
      } */
  #hpblog{
      grid-area:main;
    }
  img {
      height: 800px;
      width: auto;
      position: center;
      }
}
