@import url(./header.css);
@import url(./footer.css);
@import url(./authorsection.css);
body{
  font-family: 'News Cycle', sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  /* font-family: 'Roboto Mono', monospace; */
}

.container{
  display:flex;
  width:100%;
  margin: 0 auto;
  flex-direction: column;
  /* flex-wrap: nowrap; */
}

nav{
    order:1;
    flex-shrink: 0;
    position:fixed; /* this freeze the navbar at the top of the page*/
    display:grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

.contentwrapper{
    order:2;
    flex: 1 0 auto;
    display:flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }

.postpic{
    max-width:80%;
    max-height: 400px;
    display: block;
    margin: 10px auto 10px auto;
}

figcaption {
  margin: auto auto 80px auto;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.footer {
     order:3;
     position: fixed;
     display:grid;
     grid-template-rows:repeat(2, 1fr);
   }

.footerwrapper{
   display:grid;
   grid-template-columns: repeat(3, 1fr);
 }

 .card {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     max-width: 300px;
     margin: auto;
     text-align: center;
     margin: 60px auto 25px auto;
   }

 .currentcompany {
     color: grey;
     font-size: 18px;
   }

 button {
     border: none;
     outline: 0;
     display: inline-block;
     padding: 8px;
     color: white;
     background-color: rgb(0,43,54);
     text-align: center;
     cursor: pointer;
     width: 100%;
     font-size: 18px;
   }

 a {
     text-decoration: none;
     font-size: 20px;
     color:black;
   }

 button:hover, a:hover {
     opacity: 0.7;
   }

 .bottomplaceholder{
   height:80px;
 }

h3{
  font-style: italic;
  font-weight: lighter;
}

article {
  margin-top: 60px;
}
