
@import url(./wide.css);
@import url(./medium.css);
@import url(./headerfooter.css);
body{
  font-family: 'News Cycle', sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  /* font-family: 'Roboto Mono', monospace; */
}

.container{
  display:flex;
  width:100%;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: nowrap;
}

.box{/* remain unchanged across screen sizes */
      border: 1px solid white;
      background: #ebeff5;
      padding: 10px 20px 10px 20px;
      }

nav{
    order:1;
    flex-shrink: 0;
    position:fixed; /* this freeze the navbar at the top of the page*/
    display:grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

.contentwrapper{
    order:2;
    flex: 1 0 auto;
  }

.contentwrapper{/* small screen structure */
      display:flex;
      flex-direction: column;
      flex-wrap: nowrap;
  }

.blogtitle{
    order:1;
    padding-top: 50px;
    margin: 0;
    text-align: center;
        /* background: blue; */
  }

.aboutme{
  order:2;
  }

img {
  height: 180px;
  width: auto;
  position: center;
  }
.content{
    background: #ebeff5;
    order:3;
  }
#homepagepic, #aboutme {
  padding-top: 10px;
  padding-bottom: 10px;
  }
  .footer {
     order:3;
     flex-shrink: 0;
     display:grid;
     width: 100%;
     grid-template-columns: repeat(3, 1fr);
    }
