

@media only screen and (min-width:1024px){
  .contentwrapper{/* large screen structure */
        display:grid;
        grid-template-rows: 10vh 40vh 40vh;
        grid-template-columns: 50vw 50vw;
        grid-template-areas:
        "tt tt"
        "pic main"
        "intro main";
    }
  #blogtitle{
      grid-area:tt;
    }
  #homepagepic{
      grid-area:pic;
      }
  #aboutme{
    grid-area:intro;
    padding: 10px 20px 10px 20px;
    }
  .aboutme{
      display:flex;
      flex-direction: row;
      border: 3px solid red;
      }
  #hpblog{
      grid-area:main;
    }
  img {
      height: 800px;
      width: auto;
      position: center;
      }
}
